<h1><%= @project.name %></h1>

<ul>
  <li>Material: <%= @project.material %></li>
  <li>Challenge Theme: <%= @challenge.theme %></li>
  <li>Number of Contestants: <%= @project.count_of_contestants %></li>
  <li>Average Contestant Experience: <%= (@project.avg_contestant_exp) %> years</li>
</ul>