<h1><%= @project.name %></h1>

<ul>
  <li>Material: <%= @project.material %></li>
  <li>Challenge Theme: <%= @challenge.theme %></li>
  <li>Number of Contestants: <%= @project.count_of_contestants %></li>
  <li>Average Contestant Experience: <%= (@project.avg_contestant_exp) %> years</li>
</ul>

<h4>Add contestant to project:</h4>
<%= form_with url: "/projects/#{@project.id}/contestants", method: :patch do |form| %>
  <%= form.label :contestant_id %>
  <%= form.collection_select :contestant_id, Contestant.all, :id, :name, prompt: true %>
  <%= form.submit "Add to Project", class: "button" %>
<% end %>