<h1><%= @project.name %></h1>

    <ul>
      <li>Name: <%= @project.name %></li>
      <li>Material: <%= @project.material %></li>
      <li>Theme: <%= @challenge.theme %></li><br>
      <li>Number of Participants: <%= @contestants_count %></li><br>
      <li>Average Years of Experience: <%= @average_experience %></li><br>
    </ul>
