<h1><%= @project.name %></h1>
<h3><%= @project.material %></h3>
<h3><%= @project.challenge.theme %></h3>
<h3>Number of Contestants: <%= @project.contestants.count %></h3>
<% if @project.contestants.count > 0 %>
<h3>Average Contestant Experience: <%= @project.contestants.sum {|contestant| contestant.years_of_experience} / @project.contestants.count %> years</h3>
<% end %>
<%= form_tag :action => 'update' %>
<%= text_field "contestant", "id", "size" => 20 %>
<%= submit_tag( "Add Contestant" ) %>
</form>
